:root {
    --primary-color: #335C67;
    --secondary-color: #FFF3B0;
    --accent1-color: #e09f3e;
    --accent2-color: #9e2a2b;
    --accent3-color: #540b0e;
}


.header-grid img {
    grid-column: 1;
    justify-items: start;
    border-radius: 10%
}

.header-grid nav {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 2 / span 4;
    justify-items: space-between;
    align-items: center;
    background-color: #e09f3e;
    padding: 10px 20px;
    border-radius: 15px;

}

.header-grid {
    display: grid;
    align-items: center;
    justify-items: start;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    background-color: #FFF3B0;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.hero {
    text-align: center;
    position: relative;
    width: 100%;
    height: 400px;
    color: white;
    padding-top: 20%;
    margin-bottom: 15px;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
}

/* .hero article::after {
    content:"";
    display: table;
    clear: both;
} */

.hero h1 {
    font-family: 'Roboto Mono', monospace;
    position: absolute;
    top: 20%;
    left: 50%;
    background-color: rgba(51, 92, 103, 0.7);
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    padding: 30px;
    box-sizing: border-box;
}

.hero article {
    background:rgba(84,11,14,0.7);
    background-size: 100%;
    bottom: 5%;
    left: 50%;
    position: absolute;
    width: 80%;
    height: auto;
    transform: translate(-50%, -50%);
    padding: 12px;
    text-align: left;
    border-radius: 10px;
   
}

.hero article img {
    position: relative;
    width: 25%;
    height: auto;
    float: right;
    border-radius: 10px
}

.hero article p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 10px 0;
}

a {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

nav {
    text-decoration: none;
    text-decoration-color: #540b0e;
}

h1, h2, h3, h4, h5, h6 { 
    font-family: 'Roboto Mono', monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

p form{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
  }

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    background-color:var(--accent2-color);
    padding: 10px;
    margin-bottom:15px;
    border-radius: 15px;
}

.history p {
    background-color: #FFF3B0;
    padding: 10px;
    border-radius: 10px;
}

.history img {
    justify-self: center;
    border-radius: 10px;
}

.history-title {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
    background-color: #FFF3B0;
    padding: 10px;
    border-radius: 15px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: space-between;
    background-color: #540b0e;
    padding: 10px;
    gap: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.adventure img {
    height: auto;
    width: 100%;
    padding: 10px;
    object-fit: cover;
    flex-wrap: wrap;
    justify-self: center;
}

.adventure h2 {
    grid-column: 1/6;
    justify-self: center;
}

.adventure img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

footer {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-items: center;
    align-items: center;
}

footer p {
    text-align: center;
    grid-column: 1 / span 2;
}

.social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: row;
    justify-self: flex-end;
    gap: 5px;
    grid-column: 2;
    align-self: center;
}

button, input, select, textarea {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

textarea {
    width: 50%;
}